*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#eb651b;
  line-height:1.6;
}

#showcase{
  background-image:url('images/animal.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  text-align:center;
  padding: 0 20px;
}

#showcase h1{
  font-size:100px;
  line-height:1.2;
}

#showcase p{
  font-size:30px;
}

#showcase .button{
  font-size:30px;
  text-decoration:none;
  color:#469239;
  border: #469239 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#469239;
  color:#fff;
}

#section-a{
  padding:20px;
  background:#eb651b;
  color:#fff;
  text-align:center;
}

#section-b{
  padding:20px;
  background:#f4f4f4;
  text-align:center;
}

#section-c{
  display:flex;
}

#section-c div{
  padding:20px;
}

#section-c .box-1, #section-c .box-3{
  background:#eb651b;
  color:#fff;
}

#section-c .box-2{
  background:#f9f9f9;
}

@media only screen and (max-width:760px) {
  #showcase{
    display:flex;
    background-image:url('/images/animal2.jpg');
    
  }
  }